{
	servers {
		trusted_proxies static private_ranges
	}
}

nikolajs-nextcloud.lat {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy web:80
	encode gzip
	header {
		Strict-Transport-Security "max-age=15552000; includeSubDomains"
		-Server
	}
	request_body {
		max_size 3GB
	}
}
